<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to YesLove</title>
</head>
<body>
    <h1>Welcome to YesLove</h1>
    <p>The place where you connect with others.</p>
    <a href="{{ url_for('main.login') }}">Login</a>
    <a href="{{ url_for('main.signup_standard') }}">Sign-Up as Standard User</a>
    <a href="{{ url_for('main.signup_professional') }}">Sign-Up as Professional</a>
</body>
</html>
